table.dataTable thead th, table.dataTable thead td 
{
    padding: 10px !important;
}

.sub
{
    font-size: 11px;
    vertical-align: bottom;
}

.keterangan_status
{
    background-color: #17A2B8;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    border-bottom: 1px solid rgb(207, 207, 207);
    box-shadow: 1px 2px 2px 0 rgb(200, 200, 200);
    color: white;

    h1
    {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    h4  
    {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .row
    {
        margin: 0;
        padding: 0;

        .col-md-2
        {
            margin-top: 10px;
        }
    }
}

.belum_ada_data
{
    color: rgb(179, 14, 14);
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.card
{
    .card-header
    {
        background-color: #F2F2F2;
    }
}

@media only screen and (max-width: 575px) 
{
    .text-right 
    {
        text-align: left !important;
        margin: 0;
        margin-top: 10px;
    }

    label
    {
        margin-bottom: 0;
    }
}